<div class="center jumbotron">

  <table>
    <thead>
      <tr>
        <th colspan="6"> Radio Admin </th>
      </tr>
    </thead>
  </table>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
