  <tr>
    <td><%= land.name %></td>
    <td><%= link_to 'Edit', edit_land_path(land), class: "btn btn-success" %></td>
    <td><%= link_to 'Destroy', land, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

