<p id="notice"><%= notice %></p>

<h1>Lands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <%= render @lands %>
  </tbody>
</table>

<br>

<%= link_to 'New Land', new_land_path, class: "btn btn-primary" %>
