<ion-view hide-back-button="true">
  <ion-nav-title style="float:left;" hide-back-button="true">
      <a href="#/app/emisoras">Emisoras</a>
  </ion-nav-title>
  <ion-content ng-controller="Contacto">
        <br /><br />
	<div class="bar bar-header bar-calm" style="display:none; margin-top:10px; margin-bottom:10px;" id="respuesta">
		<h1 class="title" ng-bind="response"></h1>
	</div>
	<br />
	<form ng-submit="submit()">
        <!--<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="John">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="john@suhr.com">
  </label>
</div>-->


        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Nombre" id='nombre' ng-focus="" ng-model='data.username'>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" id='mail' placeholder="Email" ng-model='data.mail'>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Comentario</span>
            <textarea placeholder="Comments" id='comentarios' style="height:100px;" ng-model='data.comentarios'></textarea>
          </label>
          <button type="submit" class="button button-block button-positive" style="margin-left:10%; margin-right:10%;width:80%;">Enviar</button>
        </div>
	</form>

  </ion-content>
  <ion-footer-bar style="border-top:1px solid gray;" >
    <div ng-include="'templates/footer.html'" style="width:100%;" ></div>
  </ion-footer-bar>
  </ion-view>
