<ion-view hide-back-button="true">
  <ion-nav-title style="float:left;" hide-back-button="true">
      <a href="#/app/emisoras/no">Emisoras</a>
  </ion-nav-title>
  <ion-content>
        <br /><br />
        <h1 style="text-align:center;">Error al obtener datos del servidor.  Reintente.</h1>
        <img src="img/errorred.png" style="margin:30%; width:40%;" />
  </ion-content>
  <!--<ion-footer-bar style="border-top:1px solid gray;" >
    <div ng-include="'templates/footer.html'" style="width:100%;" ></div>
  </ion-footer-bar>-->
  </ion-view>
