<ion-view> 
	<ion-nav-title style="float:left;">
		<a href="#/app/emisoras">Emisoras</a>
	</ion-nav-title>
	
	<ion-content>
	<div data-ng-init="mostrar_facebook();" class="item item-body" style="border-color: #fff;  padding-left:0px; padding-right:0px; padding-top:0px;">
		<div ng-include="'templates/cabecera.html'"></div>
		<div class="row" style="margin:0px; padding:0px;">
			<div class="col" style="text-align:center;">
			<iframe src="{{url}}" scrolling="yes" id="if" style="width:100%; min-height:350px; height:100%;"></iframe>
			</div>
		</div>
	</div>
	</ion-content>
	
<div ng-include="'templates/footer.html'"></div>
</ion-view>
