<ion-view hide-back-button="true" ng-controller="Favoritos">
  <ion-nav-title style="float:left;" hide-back-button="true">
      <a href="#/app/emisoras">Emisoras</a>
  </ion-nav-title>
  <ion-content ng-init="load()">
    <img src="img/cargando.gif" id="cargando_listado" style="display:none; margin:30%; width:40%;"/>
    <div class="list" id="listado" style="display:none;">  
	<div class="row" ng-repeat="item in messages" style="padding-left:0px; padding-right:0px;border-bottom:1px solid gray; padding-top:7px;">
		<div class="col col-75" style="border:0px;">
			<a class="item item-button-right" 
				ng-href="#/app/emisoras/{{item.id}}/false"
				collection-item-width="'100%'"
				collection-item-height="50" style="border:0px;">
				{{item.first_name}} {{item.last_name}} {{item.id}}
			</a>
		</div>
		<div class="col" style="border-left:0px;">
			<a style="margin-left:20%; border:1px;"
				ng-click="del(item.id)">
					<img src="img/delete.png"  />
			</a>
		</div>
	</div>

	
		<!--<a class="item my-item"
			collection-repeat="item in messages"
			collection-item-width="'100%'"
			ng-href="#/app/emisoras/{{item.id}}/false"
			collection-item-height="50">
			{{item.first_name}} {{item.last_name}}
		</a>-->
    </div>
  </ion-content>
  <ion-footer-bar style="border-top:1px solid gray;" >
    <div ng-include="'templates/footer.html'" style="width:100%;" ></div>
  </ion-footer-bar>
  </ion-view>
