	<div id="botonParar" class="list" style="width:100%; border:0px; margin:0px; display:{{footer_display_button}};">
		<a class="item item-avatar" href="#" ng-click="stop();" style="border:0px; padding-top:0px; padding-bottom:0px;">
		  <img src="img/stop.png" style="top:0px; width:30px;" />
		  <h2 style="margin:0px; margin-top:2%;">{{nombre}}</h2>
		</a>
	</div>
    <div id="texto" style="width:100%; display:{{footer_display_text}}; text-align:center; font-weight:bold;">
		<img src="img/icono.png" style="top:0px; width:30px;" />
		  <h2 style="margin:0px; margin-top:2%;">La radio pública</h2> 
	</div>
