<ion-view> 
    <ion-nav-title style="float:left;">
      <a href="#/app/emisoras">Emisoras</a>
    </ion-nav-title>
	<ion-content>
	<div data-ng-init="mostrar_noticias();" class="item item-body" style="border-color: #fff;  padding-left:0px; padding-right:0px; padding-top:0px;">
		<div ng-include="'templates/cabecera.html'"></div>
			<div class="row"style="margin:0px; padding:0px;">
				<div class="col">
					<div id="noticias">	
						<div id="cargando_noticias" style="margin-left:25%; margin-right:25%; margin-top:25%;">
							<img class="imagen" src="img/cargando.gif" />
						</div>
						<div class="list" style="display:none;" id="lista">
							<a ng-repeat="item in noticias" 
							   href="#" ng-click="open('{{item.url}}');"
								class="item item-thumbnail-left ">
								<img  ng-if="item.comments != ''" ng-src="{{item.comments}}">
								<!--<img  ng-if="item.comments == ''" ng-src="/img/default.png">-->
								<p>{{ item.custom_fields.volanta_1 }}</p>
								<p><b>{{ item.title }}</b></p>
							</a>
						</div>					
					</div>
				</div>
			</div>
	</div>
	</ion-content>
    <ion-footer-bar style="border-top:1px solid gray;" >
       <div ng-include="'templates/footer.html'" style="width:100%;" ></div>
    </ion-footer-bar>
</ion-view>