<ion-view hide-back-button="true">
	<ion-nav-title style="float:left;" hide-back-button="true">
		<a href="#/app/emisoras/no">Emisoras</a>
	</ion-nav-title>
 	<ion-content overflow-scroll="true" start-y="500" scrollbar-y="false" >
	<div class="item item-body" style="border-color: #fff; padding-left:0px; padding-right:0px; padding-top:0px;">
	<div ng-include="'templates/cabecera.html'"></div>
		<div class="row"style="margin:0px; padding:0px;">
			<div class="col">
				<!-- AM -->
				<div id="repAm" class="am" style="display:{{bandera_am}};">
					  <div class="item" style="border:#FFF;">
					  		<div class="row">
								<div class="col" style="width:30%; position:relative; float:left; padding:3%;">
									<a href="#" ng-click="play('{{url_streaming_am}}', 'AM');">
										<img class="imagen" id="rep" src="img/play.png">
									</a>
									<a href="#" ng-click="stop();">
										<img class="imagen" id="para" src="img/stop.png" style="display:none;">
									</a>
									<img class="imagen" id="cargando" src="img/cargando.gif" style="display:none;">
								</div>
								<div class="col col-75" style="width:70%; position:relative; float:left;">
									<h2>
										<span class="dial">{{dialAm}}</span><br />
										<span class="titulo_programa_vivo">{{titulo_programa}}</span>
									</h2>
									<p>{{descripcion_programa}}</p>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col" style="text-align:center;">
									<a class="tab-item" href="#" ng-click="save('{{id}}');" >
										<img src="img/star.png" class="img_icono" />
									</a>
								</div>
								<div class="col" style="text-align:center;">
									<a class="tab-item" href="#" ng-click="programacion_completa('{{id}}','AM');" >
										<img src="img/calendar.png" class="img_icono" />
									</a>
								</div>
								<div ng-if="url_fb != ''" class="col" style="text-align:center;">
									<a ng-if="url_fb != ''" class="tab-item" href="#" ng-click="open('{{url_fb}}');">
										<img src="img/facebook.png" class="img_icono" />
									</a>
								</div>
								<div ng-if="url_tw != ''" class="col"  style="text-align:center;">	
									<a ng-if="url_tw != ''" class="tab-item" href="#" ng-click="open('{{url_tw}}');">
										<img src="img/twitter.png" class="img_icono" />
									</a>
								</div>
								<div class="col" style="text-align:center;">	
									<a class="tab-item" href="#">
										<img src="img/mensaje.png" class="img_icono" />
									</a>
								</div>
							</div>
					  </div>
				</div>

				<!-- FM --->
				<div id="repFm" class="fm" style="display:{{bandera_fm}};">
					  <div class="item" style="border:#FFF;">
					  		<div class="row">
								<div class="col" style="width:30%; position:relative; float:left; padding:3%;">
									<a href="#" ng-click="play('{{url_streaming_fm}}', 'FM');">
										<img class="imagen" id="rep1" src="img/play.png">
									</a>
									<a href="#" ng-click="stop();">
										<img class="imagen" id="para1" src="img/stop.png" style="display:none;">
									</a>
									<img class="imagen" id="cargando1" src="img/cargando.gif" style="display:none;">
								</div>
								<div class="col col-75" style="width:70%; position:relative; float:left;">
									<h2>
										<span class="dial">{{dialFm}}</span><br />
										<span class="titulo_programa_vivo">{{titulo_programa}}</span>
									</h2>
									<p>{{descripcion_programa}}</p>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col" style="text-align:center;">
									<a class="tab-item" href="#" ng-click="save('{{id}}');" >
										<img src="img/star.png" class="img_icono" />
									</a>
								</div>
								<div class="col" style="text-align:center;">
									<a class="tab-item" href="#" ng-click="programacion_completa('{{id}}','FM');" >
										<img src="img/calendar.png" class="img_icono" />
									</a>
								</div>
								<div ng-if="url_fb != ''" class="col col-20" style="text-align:center;">
									<a ng-if="url_fb != ''" class="tab-item" href="#" ng-click="open('{{url_fb}}');">
										<img src="img/facebook.png" class="img_icono" />
									</a>
								</div>
								<div ng-if="url_tw != ''" class="col"  style="text-align:center;">	
									<a ng-if="url_tw != ''" class="tab-item" href="#" ng-click="open('{{url_tw}}');">
										<img src="img/twitter.png" class="img_icono" />
									</a>
								</div>
								<div class="col" style="text-align:center;">	
									<a class="tab-item" href="#">
										<img src="img/mensaje.png" class="img_icono" />
									</a>
								</div>
							</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
    <ion-footer-bar style="border-top:1px solid gray;" >
        <div ng-include="'templates/footer.html'" style="width:100%;" ></div>
    </ion-footer-bar>
</ion-view>
