<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>server_url</string>
			<key>DefaultValue</key>
			<string>http://ec2-34-214-84-98.us-west-2.compute.amazonaws.com:3000</string>
		</dict>
	</array>
</dict>
</plist>
