<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AssetNameKey</key>
		<string>Locos de la Terraza</string>
		<key>AssetNameObs</key>
		<string>Rememoración por Susini de la primera transmisión de Radio en Argentina para el 40 aniversario. Año 1960.</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>https://upload.wikimedia.org/wikipedia/commons/2/2b/Locosdelaterraza.ogg</string>
		<key>IsLive</key>
		<false/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>El Desconcierto en vivo</string>
		<key>AssetNameObs</key>
		<string></string>
		<key>IsLive</key>
		<true/>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://67.212.166.178:7570/radioaac</string>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>El desconcierto 2016-12-21 1/3</string>
		<key>AssetType</key>
		<string>independient</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://eldesconcierto.com.ar/audios/ED-2016-12-21/ED-2016-12-21-1.mp3</string>
		<key>IsLive</key>
		<false/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>El desconcierto 2016-12-21 2/3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://eldesconcierto.com.ar/audios/ED-2016-12-21/ED-2016-12-21-2.mp3</string>
		<key>IsLive</key>
		<false/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>El desconcierto 2016-12-21 3/3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://eldesconcierto.com.ar/audios/ED-2016-12-21/ED-2016-12-21-3.mp3</string>
		<key>IsLive</key>
		<false/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La venganza será terrible 2016-12-27</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://venganzasdelpasado.com.ar/2016/lavenganza_2016-12-27.mp3</string>
		<key>IsLive</key>
		<false/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Madre am 530</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://200.68.81.65:8000/am530</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Colonia 550</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://www.servidorstreaming1.com:9962/;</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Argentina 570</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://am570.prodera.com.ar:8000</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Continental 590</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://18243.live.streamtheworld.com/CONTINENTAL_SC</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Rivadavia 630</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://38.107.243.197:9639/live</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Belgrano 650</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://opml.radiotime.com/Tune.ashx?id=s120961</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio 10 710</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://69.175.20.242:8122/live</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>AM 750</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://vivo.radioam750.com.ar:8000/vivofm.mp3</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Cooperativa 770</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://rcoop.cnwks.ws:8358</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Mitre 790</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://buecrplb01.cienradios.com.ar/Mitre790.aac</string>
		<key>IsLive</key>
		<true/>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Del Pueblo 830</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>mms://200.68.117.13:5500</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Nacional 870</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://icecast01.dcarsat.com.ar:8000/sc_rad1</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La Red              910</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://lsdlrhls-lh.akamaihd.net/i/laredHLS_1@59923/master.m3u8</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Gral Belg     950</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://200.58.118.108:8160/stream</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>R9 La Deportiva     950</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://streamlky.alsolnet.com:443/radio9</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Génesis       970</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://streaming.radiolinksmedia.com:7790/;</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Del Plata          1030</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://cdn-zc-lsd-3.planisys.net:1935/AM2/live/playlist.m3u8</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>El Mundo 1070</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://radiostream.elmundoradio.com:8332/;stream/1</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio La Luna      1140</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://radiolaluna.radio12345.com/listen2myradio/proxy.php?station=main</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio América      1190</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://server2.stweb.tv:1935/america/live_128</string>
		<key>RadioFrequency</key>
		<string>AM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La Tribu            88.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://vivo.fmlatribu.com:8000/latribu.mp3</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Malena              89.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://vivo.radioam750.com.ar/vivofm.mp3</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Arpeggio            89.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://14073.live.streamtheworld.com/ARPEGGIOAAC</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio con vos       89.9</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://server6.stweb.tv:1935/rcvos/live/chunklist.m3u8</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La Boca             90.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://208.98.41.72:9304</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Delta               90.3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://14983.live.streamtheworld.com/DELTA_903AAC</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Vorterix            92.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://ffahls-lh.akamaihd.net/i/vorvideo01hls_1@305260/index_1_a-p.m3u8</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Zero                92.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://108.166.161.217:7320/;</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La 2x4              92.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://radios.Argentina.fm:9270/;</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Nacional Rock       93.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://icecast01.dcarsat.com.ar:8000/sc_rad39</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>RadioDisney         94.3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://disneyargradio-lh.akamaihd.net/i/ARG_Disney_RADIO@102438/master.m3u8</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Metro               95.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://mp3.metroaudio1.stream.avstreaming.net:7200/metro</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Concepto            95.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://188.40.137.143:9330/;stream.nsv</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Rock &amp; Pop          95.9</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://200.69.47.99/live/audioweb</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Nacional Clásica    96.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://icecast01.dcarsat.com.ar:8000/sc_rad37</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Vale                97.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://vale.stweb.tv:1935/vale/live</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Mega 98.3
</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://server5.stweb.tv:1935/mega983/live</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>La 100 99.9</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://buecrplb01.cienradios.com.ar/la100.aac</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Blue 100.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://mp3.metroaudio1.stream.avstreaming.net:7200/bluefmaudio1</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Latina 101.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://streaming.latina101.com.ar:8080/RadioLatina</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Pop 101.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://popradio.stweb.tv:1935/popradio/live</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Aspen 102.3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://9443.live.streamtheworld.com/ASPENAAC</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Radio Uno 103.1</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://190.104.220.205:8233/stream</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Klimax 103.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://streamall.alsolnet.com:443/klimaxok</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Sonido 103.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://streamall.alsolnet.com:443/fmsonidohd?type=.flv</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>One 103.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>rtmp://server5.stweb.tv:1935/one/live</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>RQP 104.3</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://14933.live.streamtheworld.com/RQPAAC</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Milenium 106.7</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://50.22.212.205:8078/;</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>ESPN 107.9</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://apiradio.espn-la.com/64list.m3u8</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<false/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Futurock</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://radio1.us.mediastre.am/futurockargentina.aac</string>
		<key>RadioFrequency</key>
		<string>Online</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>the boom room</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://vip-icecast.538.lw.triple-it.nl/WEB13_MP3</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Horizonte</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://14123.live.streamtheworld.com:3690/SAM06AAC243_SC</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<true/>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>FM Kristal - Bariloche - 104.5</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://78.129.190.50/listen.php?ip=78.129.190.50&amp;port=37190</string>
		<key>RadioFrequency</key>
		<string>FM</string>
		<key>IsLive</key>
		<true/>
		<key>isWorking</key>
		<true/>
	</dict>
</array>
</plist>
