<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>District</th>
      <th>Country</th>
      <th>Land</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @cities %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
